


li{
    cursor: pointer;
      &.active{
        border: none !important;
        background: linear-gradient(90deg, rgba(24, 26, 32, 0.9) 0%, rgba(24, 26, 32, 0.4) 60%, rgba(24, 26, 32, 0) 100%) !important;
    }
}

.adduser{
    left:  45%;
}

